*{ margin: 0;padding: 0;box-sizing: border-box;}

body{
    font-family:'montserrat',sans-serif ;
    color:#fff;
    background-image: url('image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}


.app{
    font-style:oblique;
    font-size: xx-large;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    background-size: cover;
    height: 100vh;
}

.header{
    padding-top: 50px ;
    
    
}
.header h1{
    margin-bottom: 70px;
}
.header input {
    width: 300px;       /* istediğin genişlik */
    margin: 10px auto;     /* ortalar */
    padding: 10px 10px;  /* biraz iç boşluk ekle */
    border-radius: 5px; /* köşeleri yuvarlat (isteğe bağlı) */
    border: 2px solid rgba(6, 62, 66, 0.445);       /* default kenarlığı kaldır */
    border-radius:15px;
    background:transparent;
    color: #fff;
    text-align: center;
    
    
}
.header input::placeholder {
    color: #ccc;        /* gri */
    font-style: italic; /* opsiyonel: italik yap */
}

.content{
    margin: 20px auto;

}

.temp{
    margin: 10px;
    font-size: 60px;
}

.desc{
    margin-bottom: 15px;
}


.minmax{
    margin: 35px;
    
}
.btn{
     padding: 10px 15px;   /* butonun iç boşluğu */
    font-size: 20px;      /* ikon boyutu büyür */
    border: none;         /* kenarlık kaldır */
    border-radius: 5px;   /* köşeleri yuvarlat */
    background: rgba(255, 255, 255, 0.2); /* şeffaf arka plan */
    color: #fff;          /* ikon rengi */
    cursor: pointer;
}
.city{
    padding: 30px;
    font-size: 30px;
}