* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: coral;
    display: flex;             /* flex kullan */
    justify-content: center;   /* yatay ortala */
    align-items: center;       /* dikey ortala */
    height: 100vh;             /* tüm ekran yüksekliği */
    margin: 0;                 /* varsayılan boşlukları kaldır */
}

.uyg {
    border: 5px solid rgb(139, 77, 77);
    border-radius: 50px;
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;      /* dikey yığın */
    justify-content: center;     /* dikey ortala */
    align-items: center;         /* yatay ortala */
    text-align: center;
}

.uyg div{
    margin: 20px;
    font-size: x-large;
    
}

.vize input{
    border-radius: 10px;
    text-align: center;
}

.final input{
    border-radius: 10px;
    text-align: center;
}

.sonuc input{
    border-radius: 10px;
    text-align: center;

}

