body{
    background-image: url("image.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
     margin: 0; /* boşlukları kaldır */
}
.uyg{
    background: rgba(0, 0, 0, .6);
    border-radius: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    width: 500px;
    height: 450px;
}

.headers{
    color:aqua;
    margin-bottom: 50px;
    
}
.headers h1{
    padding: 10px;
}

#inp{
    text-align: center;
    font-size: x-large;
    width: 400px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    
}
#inp::placeholder{
    color:floralwhite;
}

.btn-container {
    margin-top: 15px;
    display: grid;
    gap: 15px;
    justify-items: center;
}
#resault {
    font-size: large;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 400px;   /* istediğin sabit genişlik */
    max-width: 100%; /* taşmayı önler */
    font-size: x-large;
}
.btn-container button {
 
    width: 300px;   /* istediğin sabit genişlik */
    height: 50px;
    max-width: 100%; /* taşmayı önler */
}
.p button {
    margin: 15px;
    width: 300px;   /* istediğin sabit genişlik */
    height: 50px;
    max-width: 100%; /* taşmayı önler */
}